.blog-details-content {
    display: grid;
    grid-template-areas: 'content content content sidebar';
}

.content-area {
    grid-area: content;
    color: #fff;
    padding: 0 20px 20px 20px;
    font-size: 1.1em;
}

.sidebar-area {
    grid-area: sidebar;
    padding: 20px;
    color: #fff;
    font-size: 1.1em;
}

.sidebar-area .author-detail {
    border: 2px solid #fff;
    padding: 0px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.sidebar-area .author-detail p {
    margin-top: 10px;
}

.sidebar-area .author-detail img {
    width: 100px;
    height: 100px;
}

.sidebar-area .author-caption {
    margin: 5px;
}

.sidebar-area .author-content {
    margin-top: 10px !important;
    text-align: center;
    border: 2px solid #fff;
    padding: 10px;
    margin: 0;
}

.sidebar-area .author-content div {
    border: 2px solid #fff;
    text-align: left;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.sidebar-area .author-content a {
    color: #fff;
    text-decoration: none;
}

.sidebar-area .author-content div:hover {
    background: green;
}

.sidebar-area .author-content div h4, p {
    margin: 0;
}
