#menu-icon {
    font-size: 2em;
    cursor: pointer;
    color: #fff;
}

#search-icon {
    font-size: 2em;
    cursor: pointer;
    color: #fff;
}

#back-icon {
    font-size: 2em;
    cursor: pointer;
    color: #fff;
}

.fa-user-circle-o {
    font-size: 3em !important;
    cursor: pointer;
    color: #fff; 
}